<main class="LoginPage">
  <div class="LoginPage-form" style="margin-top: 200px;">
    <p class="LoginPage-title">Sign in!</p>
    <% if flash[:alert] %>
      <p class="FlashMessage">
        <%= flash[:alert] %>
      </p>
    <% end %>
    <div id="signin" class="LoginPage-credentials">
      <%= form_with url:sessions_path do |form| %>
        <p class="FormInput-label">Mobile:</p>
        <%= form.text_field :mobile, class:"Form-input", autofocus: "autofocus" %>
        <p class="FormInput-label">Password:</p>
        <%= form.password_field :password, class:"Form-input" %>
        <div class="LoginPage-container">
          <%= link_to "Create account", new_user_path, class: "LoginPage-redirect" %>
          <%= form.submit "Sign-in", class: "Form-submit"%>
        </div>
      <% end %>
    </div>
  </div>
</main>
