<% items.each do |item| %>
    <h3><%= item.name %></h3>
    <h4>Price:<%= item.price %></h4>
    <p>Description:<%= item.description%></p>
    <%= form_with(url: "/menu_items/#{item.id}", method:"put") do %>
        <label for="quantity">Quantity:</label>
        <%= number_field_tag 'quantity',nil,min: 1,:required => true,class: 'quantity_field'%>
        <%= button_tag 'Add to cart',type:'submit'%>
    <% end %>
<% end %>
<hr>