<div class="MenuPage-items">
  <% items.each do |item| %>
    <div class="MenuItem">
      <div>
        <img src=<%= item.image %> class="MenuItem-image">
      </div>
      <div class="MenuItem-content">
        <p class="MenuItem-name"><%= item.name %></p>
        <p class="MenuItem-price">Price: <%= item.price %></p>
        <p class="MenuItem-desc">Description: <%= item.description%></p>
        <%= form_with(url: "/menu_items/#{item.id}", method:"put") do %>
          <div class="MenuItem-quantity">
            <div>
              <label for="quantity">Quantity: </label>
              <%= number_field_tag "quantity", nil, min: 1, max: 10, :required => true, class: "MenuItem-quantityBox" %>
            </div>
            <%= button_tag "Add", type:"submit", class: "MenuItem-add"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
