<% subtotal = 0 %>
<table class="CartTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price per unit</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% current_cart.each do |item| %>
      <% if item["id"]!=nil %>
        <% cart_item = MenuItem.find(item["id"].to_i) %>
        <tr>
          <td><%= cart_item.name %></td>
          <td><%= cart_item.price %></td>
          <td>
          <div style="display: flex;">
            <%= button_to "+", update_plusOne_path(cart_item.id),class:'plusOne-button', method:"put" %>
            <%= item["quantity"] %>
            <%= button_to "-", update_minusOne_path(cart_item.id),class:'minusOne-button', method:"put" %>
            </div>
          </td>
          <td class="CartTable-delete">
            <%= form_with(url: "/menu_items/#{cart_item.id}",method: "delete") do %>
              <%= image_submit_tag "bin.svg", class: "CartItem-delete" %>
            <% end %>
          </td>
        </tr>
        <% subtotal=subtotal+ (((cart_item.price).to_i)*(item["quantity"].to_i)) %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div style="display: flex; align-items: center; justify-content: space-between;">
<p class="CartTotal">Subtotal: <%= subtotal %></p>
<% if current_cart.length > 0 %>
  <%= button_to "Proceed to checkout", order_items_path, class: "CartRedirect" %>
<% end %>
</div>
<hr>
