<% subtotal = 0 %>
<table class="CartTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price / unit</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% current_cart.each do |item| %>
      <% if item["id"]!=nil %>
        <% cart_item = MenuItem.find(item["id"].to_i) %>
        <tr>
          <td style="text-align: left;"><%= cart_item.name %></td>
          <td><%= cart_item.price %></td>
          <td class="CartTable-quality">
            <%= button_to "—", update_minusOne_path(cart_item.id),class:"QuantityButton", method:"put" %>
            <p style="margin-left: 5px;"><%= item["quantity"] %></p>
            <%= button_to "+", update_plusOne_path(cart_item.id),class:"QuantityButton", method:"put" %>
          </td>
          <td>
            <%= form_with(url: "/menu_items/#{cart_item.id}",method: "delete") do %>
              <%= image_submit_tag "bin.svg", class: "CartTable-delete" %>
            <% end %>
          </td>
        </tr>
        <% subtotal=subtotal+ (((cart_item.price).to_i)*(item["quantity"].to_i)) %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div style="display: flex; align-items: center; justify-content: space-between;">
<<<<<<< HEAD
  <p class="CartTotal">Subtotal: <%= subtotal %></p>
  <% if current_cart.length > 0 %>
    <%= button_to "Proceed to checkout", order_items_path, method: "get", class: "CartRedirect" %>
  <% end %>
=======
<p class="CartTotal">Subtotal: <%= subtotal %></p>
<% if current_cart.length > 0 %>
  <%= button_to "Proceed to checkout", order_items_path, class: "CartRedirect",method:"get" %>
<% end %>
>>>>>>> 6715a027a9866ed98eb73b3726bb862a3f531164
</div>
