<h1>My info</h1>
<p>First name: <%= @current_user.first_name %> </p> 
<p>Last name: <%= @current_user.last_name %> </p>
<p>Email: <%= @current_user.email %> </p>
<p>Mobile: <%= @current_user.mobile %> </p>
<p>Address: <%= @current_user.address %> </p>
