<p class="NewUsers-title">Welcome new user </p>
<section class="UsersNew">
    <%= form_with url:users_path do |form| %>
    <div class = "form-section">
        <p class="formInput-label">First-name:</p>
        <%= form.text_field :first_name,class:"form-input" %>
    </div>
    <div class = "form-section">
        <p class="formInput-label">Last-name:</p>
        <%= form.text_field :last_name, class:"form-input"%>
    </div>
    <div class = "form-section">
        <p class="formInput-label">Email:</p>
        <%= form.email_field :email, class:"form-input" %>
    </div>
    <div class = "form-section">
        <p class="formInput-label">Mobile number:</p>
        <%= form.text_field :mobile, class:"form-input" %>
    </div>
    <div class = "form-section">
        <p class="formInput-label">Address:</p>
        <%= form.text_field :address, class:"form-input" %>
    </div>
    <div class = "form-section">
        <p class="formInput-label">Password:</p>
        <%= form.password_field :password, class:"form-input" %>
    </div>
    <div class="form-section">
        <%= form.submit "Sign-up!", class: "form-submit"%>
    </div>
<% end %> 
</section>