<h1>Current clerks</h1>
<ul>
<% @clerks.each do |clerk| %>
    <li>Mobile: <%= clerk.mobile %>   <%= button_to "Delete Account", "/users/#{clerk.id}",class: 'DeleteUser-button', method:"delete"%></li>
    <li>First name: <%= clerk.first_name %>
    <li>Email: <%= clerk.email %>
<% end %>
</ul>
<hr>
<h1>Create new clerk account</h1>
<%= form_with(url: "/users", method: "post",class: "AddClerk") do %>
    <label for='mobile'>Mobile number:</label>
    <%= text_field_tag 'mobile',nil,placeholder:"Mobile",class:'mobile' %>
    <label for='first_name'>First name:</label>
    <%= text_field_tag 'first_name',nil,placeholder:"First name",class:'first_name' %>
    <label for='email'>Email id:</label>
    <%= email_field_tag 'email',nil,placeholder:"Email",class:'email' %>
    <label for='password'>Password:</label>
    <%= password_field_tag 'password',nil,placeholder:"Password", class:"Form-input" %>
    <label for='password_confirmation'>Password confirmation:</label>
    <%= password_field_tag 'password_confirmation',nil,placeholder:"Confirm password", class:"Form-input" %>
    <%= button_tag 'Create',type:'submit', class:'AddMenu-button'%>
<% end %>