<main class="HomePageMain">
  <div class="HomePage-welcome">
    <p class="HomePage-title">Order tasty FOOD</p>
    <p class="HomePage-title">Delivered to your Doorstep</p>
    <div class="HomePage-navigate">
      <form method="get" action="/menu_items">
        <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
      </form>
      <form method="get" action="#offerHead">
        <input class="HomePage-naivgateButton" value="Offers" type="submit" />
      </form>
    </div>
  </div>
  <div class="HomePage-container" id="offerHead">
    <div class="HomePage-offerHead">
      <a href="javascript:void(0);" class="HomePage-offersTitle" onclick="viewoffer()">Offers</a>
      <a href="javascript:void(0);" class="HomePage-offersTitle" onclick="viewbestsellers()">Best Sellers</a>
    </div>
    <div class="HomePage-offers" id="offers">
      <div class="Offers-container">
        <% @offers.each do |offer| %>
          <% item = MenuItem.find(offer.menu_item_id) %>
          <div class="MenuItem">
            <img src=<%= item.image %> class="MenuItem-image">
            <div class="MenuItem-content">
              <p class="MenuItem-name"><%= item.name %></p>
              <p class="MenuItem-price">Offer Price: <span class="oldPrice"><%= offer.original_price %></span><%= offer.offer_price %></p>
              <p class="MenuItem-desc">Description: <%= item.description%></p>
              <%= form_with(url: "/menu_items/#{item.id}", method:"put") do %>
                <div class="MenuItem-quantity">
                  <div>
                    <label for="quantity">Quantity: </label>
                    <%= number_field_tag "quantity", nil, min: 1, max: 10, :required => true, class: "MenuItem-quantityBox", style: "color: #000000" %>
                  </div>
                  <%= button_tag "Add", type:"submit", class: "MenuItem-add", style: "color: #000000" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="HomePage-offers" id="bestsellers">
      <div class="Offers-container">
        <% @top5.each do |item| %>
          <div class="MenuItem">
            <img src=<%= item.image %> class="MenuItem-image">
            <div class="MenuItem-content">
              <p class="MenuItem-name"><%= item.name %></p>
              <p class="MenuItem-price">Price: <%= item.price %></p>
              <p class="MenuItem-desc">Description: <%= item.description%></p>
              <%= form_with(url: "/menu_items/#{item.id}", method:"put") do %>
                <div class="MenuItem-quantity">
                  <div>
                    <label for="quantity">Quantity: </label>
                    <%= number_field_tag "quantity", nil, min: 1, max: 10, :required => true, class: "MenuItem-quantityBox", style: "color: #000000" %>
                  </div>
                  <%= button_tag "Add", type:"submit", class: "MenuItem-add", style: "color: #000000" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
