<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% orders_info.each do |order| %>
    <% items = order_items_info.select{|item| item.order_id == order.id } %>
    <h3>Order no: <%= order.id %></h3>
    <% subtotal = 0%>
    <table class="Table-cart">
    <tr>
        <th>Name</th>
        <th>Price per unit</th>
        <th>Quantity</th>
    </tr>
    <% items.each do |current_item| %>
        <tr>
            <td><%= current_item.menu_item_name %></td>
            <td><%= current_item.menu_item_price %></td>
            <td><%= current_item.quantity %></td>
        </tr>
        <% subtotal=subtotal+ ((current_item.menu_item_price.to_i)*(current_item.quantity.to_i)) %>
    <% end %>
    </table>
    <h3>Total: <%= (subtotal*1.05)+25 %></h3>
    <p>Address: <%= order.address %></p>
    <p>Ordered at:<%= order.date.strftime("%d of %B, %Y") %>, <%= order.date.strftime("%I:%M %p")%> </p>
    <% if button_message!= nil %>
        <%= form_with(url: "/orders/#{order.id}", method: "put") do %>
            <%= button_tag "#{button_message}",type:'submit', class:'OrderUpdate-button'%>
        <% end %>
        <%= form_with(url: "/orders/#{order.id}", method: "delete") do %>
            <%= button_tag 'Cancel order',type:'submit', class:'OrderUpdate-button'%>
        <% end %>
    <% end %>
<% end %>