<h1>My orders</h1>
<% @myOrders.each do |order| %>
<div>
<h3>Order number:<%= order.id %> </h3>
<p>Ordered at:<%= order.date.strftime("%d of %B, %Y") %>, <%= order.date.strftime("%I:%M %p")%> </p>
<p>Delivered to:<%= order.address %> </p>
<h3>Order Status:<%= order.status %> </h3>
</div>
<%= form_with(url: "/orders/#{order.id}", method:"get") do %>
    <%= button_tag 'View order',type:'submit'%>
<% end %>
<hr>
<% end %>