<% subtotal = 0%>
<p>User id: <%= Order.find(@order_items[0].order_id).user_id %></p>
<table class="Table-cart">
<tr>
    <th>Name</th>
    <th>Price per unit</th>
    <th>Quantity</th>
</tr>
<% @order_items.each do |item| %>
<tr> 
<td><%= item.menu_item_name %></td>
<td><%= item.menu_item_price %></td>
<td><%= item.quantity %></td>
</tr>
<% subtotal=subtotal+ ((item.menu_item_price.to_i)*(item.quantity.to_i)) %>
<% end %>
</table>
<h2>Total(inclusive of delivery charges and taxes):<%= 25+(subtotal*1.05) %></h2>
<%= link_to "Go back to orders", orders_path %>

<%if @show_comment %>
<h1>We'd love to hear from you!</h1>
<h2>Please rate your food</h2>
<%= form_with(url: "/comments/#{@order_items[0].order_id}", method: 'post') do%>
    <%= label_tag(:rating, "Rate your order") %>
    <div class="slidecontainer">
        <input type="range" min="1" max="5" value="2" class="slider" id="myRange" name="rating">
    </div>
    <%= label_tag(:comment, "Comment your food") %>
    <%= text_area_tag(:comment,nil, size: '40x10') %>
    <%= button_tag "Add", type:"submit", class: "commentAdd"%>
<% end %>
<% end %>