<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="Navbar">
      <%= link_to  "/" do %>
        <% image_tag "home.svg", class: "Navbar-icon"%>
      <% end %>
      <% if @current_user %>
        <div class="AppHeader">
          <p class="AppHeader-title"> Hello <%= @current_user.first_name %>! </p>
          <%= link_to "Sign-out", destroy_session_path, method: :delete, class: "AppHeader-signout" %>
        </div>
      <% end %>
      <div class="HomePage-login">
        <form method="get" action="/signin">
          <input class="HomePage-loginButton" value="sign in" type="submit" />
        </form>
        <form method="get" action="/users/new">
          <input class="HomePage-loginButton" value="sign up" type="submit" />
        </form>
      </div>
      <%= link_to order_items_path do %>
        <% image_tag "cart.svg", class: "Navbar-icon"%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
